<>
  <div class="card bg-white shadow">
    <div class="card-body">
      <form
      // onSubmit={(e) => {
      //   e.preventDefault();
      //   meta.action.addPosisi();
      // }}
      >
        <div>
          <button class="btn btn-primary">
            <a href="/m/data/pendidikan">Kembali</a>
          </button>
        </div>
        <br></br>
        <h2 class="card-title">Skill/Keahlian</h2>
        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Skill</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder="Tambahkan"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-4 gap-1 mb-1">
          <label class="label">
            <span class="label-text">~~~~~~~~~~~</span>
          </label>
        </div>

        <h2 class="card-title">Sertifikat</h2>
        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Sertifikat</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder="Pilih dokumen"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder="Pilih dokumen"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder="Pilih dokumen"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-4">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder="Tambahkan"
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
        </div>

        <h1>3 dari 3</h1>
        <br></br>

        <div>
          <button class="btn btn-primary" type="submit">
            Simpan Perubahan
          </button>
        </div>
      </form>
    </div>
  </div>
</>