<>
  {/*m-pencarian*/}
  <div class="card bg-white shadow">
    <div class="card-body">
      {/*<h2 class="card-title">Data Departemen</h2>*/}

      <div class="flex justify-between items-center mb-4">
        <div class="form-control">
          <div class="relative">
            <input
              type="text"
              placeholder="Cari"
              class="w-full pr-16 input input-primary input-bordered"
            />
            <button class="absolute top-0 right-0 rounded-l-none btn btn-primary">
              Cari
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>Riwayat pencarian anda</p>

  <div class="card bg-white shadow">
    <div class="card-body">
      <p>
        {" "}
        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
        _ _ _ _ _ _{" "}
      </p>
    </div>
  </div>
</>