<>
  {/*w-add-alamat*/}
  <effect
    meta={{
      alamat: "",
      kota: "",
      provinsi: "",
      listKota: {},
      listProvinsi: {},
    }}
    run={async () => {
      meta.listKota = await api("/api/kota");
      meta.listProvinsi = await api("/api/provinsi");

      meta.action = {
        alamatChange: (e) => {
          runInAction(() => {
            meta.alamat = e.target.value;
            console.log(meta.alamat);
          });
        },
        kotaChange: (e) => {
          runInAction(() => {
            meta.kota = e.target.value;
            console.log(meta.kota);
          });
        },
        provinsiChange: (e) => {
          runInAction(() => {
            meta.provinsi = e.target.value;
            console.log(meta.provinsi);
          });
        },
        // Method Tambah
        addAlamat: (e) => {
          api("/api/alamatdepartemen", {
            alamat: meta.alamat,
            kotaId: meta.kota,
            provinsiId: meta.provinsi,
          })
            .then((e) => {
              console.log(e);
              alert("Tambah Alamat Berhasil!");
              window.location.replace("/alamat");
            })
            .catch((err) => {
              console.log(err);
            });
        },
      };
    }}
  />
  <div class="card bg-white shadow">
    <div class="card-body">
      <h2 class="card-title">Tambah Alamat</h2>
      <form
        onSubmit={(e) => {
          e.preventDefault();
          meta.action.addAlamat();
        }}
      >
        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Alamat</span>
          </label>
          <div class="form-control col-span-3">
            <input
              type="text"
              value={meta.alamat}
              onChange={(e) => meta.action.alamatChange(e)}
              placeholder="contoh: Jl. Nginden VI No.26"
              class="input input-bordered"
              required
            />
          </div>
        </div>

        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Kota</span>
          </label>
          <select
            class="select select-bordered w-full col-span-3"
            value={meta.kota}
            onChange={(e) => meta.action.kotaChange(e)}
          >
            <option>Pilih Kota</option>
            {meta.listKota?.data?.map((listKota, idx) => (
              <option value={listKota.id}>{listKota.nama_kota}</option>
            ))}
          </select>
        </div>

        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Provinsi</span>
          </label>
          <select
            class="select select-bordered w-full col-span-3"
            value={meta.provinsi}
            onChange={(e) => meta.action.provinsiChange(e)}
          >
            <option>Pilih Provinsi</option>
            {meta.listProvinsi?.data?.map((listProvinsi, idx) => (
              <option value={listProvinsi.id}>
                {listProvinsi.nama_provinsi}
              </option>
            ))}
          </select>
        </div>

        <div>
          <a href="/alamat" class="btn btn-outline btn-error mr-4">
            Batal
          </a>
          <button class="btn btn-primary" type="submit">
            Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</>