<>
  <effect
    meta={{
      value: {},
    }}
    run={async () => {
      meta.value = await api("/api/statuspekerja");
    }}
  />
  <div class="card bg-white shadow">
    <div class="card-body">
      {/*<h2 class="card-title">Data Departemen</h2>*/}
      <div class="flex mb-4">
        <a
          href="/add-status-kerja"
          class="btn bg-blue-700 border-none hover:bg-blue-500"
        >
          <svg
            width={17}
            height={16}
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mr-3"
          >
            <path
              fillRule="evenodd"
              clipRule="evenodd"
              d="M7.5 14a6 6 0 100-12 6 6 0 000 12zm.75-8.25a.75.75 0 10-1.5 0v1.5h-1.5a.75.75 0 100 1.5h1.5v1.5a.75.75 0 001.5 0v-1.5h1.5a.75.75 0 000-1.5h-1.5v-1.5z"
              fill="#F3F4F6"
            />
          </svg>
          Tambah
        </a>
      </div>
      <div class="flex justify-between items-center mb-4">
        <div class="flex-2 mr-1">Show</div>
        <select class="select select-bordered max-w-xs">
          <option>5</option>
          <option>25</option>
          <option>50</option>
          <option>100</option>
          <option selected="selected">All</option>
        </select>
        <div class="flex-1 ml-1">entries</div>

        <div class="form-control">
          <div class="relative">
            <input
              type="text"
              placeholder="Cari"
              class="w-full pr-16 input input-primary input-bordered"
            />
            <button class="absolute top-0 right-0 rounded-l-none btn btn-primary">
              Cari
            </button>
          </div>
        </div>
      </div>
      <div class="overflow-x-auto mb-4">
        <table class="table w-full table-zebra">
          <thead>
            <tr>
              <th width="50">NO</th>
              <th>Status Pekerjaan</th>
              <th width="162">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {meta.value?.data?.map((stsPekerja, idx) => (
              <tr>
                <th>{idx + 1}</th>
                <td>{stsPekerja.status_pekerja}</td>
                <td>
                  <a
                    href={`/edit-status-pekerjaan/` + stsPekerja.id}
                    class="btn btn-xs bg-blue-500 border-none hover:bg-blue-700 mr-4"
                  >
                    <img width={17} height={16} src="/fimgs/ic-edit.x1.svg" />{" "}
                    Edit
                  </a>
                  <a
                    onClick={async () =>
                      api(`/api/alamat/`, {
                        id: stsPekerja.id,
                      })
                    }
                    class="btn btn-xs bg-red-500 border-none hover:bg-red-700"
                  >
                    <img width={17} height={16} src="/fimgs/ic-hapus.x1.svg" />{" "}
                    Hapus
                  </a>
                </td>
              </tr>
            ))}
          </tbody>
        </table>
      </div>
      <div class="flex justify-start-end items-center">
        <div class="flex-1">Showing 1 to 8 of 8 entries</div>
        <div class="btn-group">
          <button
            disabled
            class="btn btn-sm bg-white text-black hover:text-white"
          >
            Previous
          </button>
          <button class="btn btn-sm btn-active">1</button>
          <button class="btn btn-sm bg-white text-black hover:text-white">
            2
          </button>
          <button class="btn btn-sm bg-white text-black hover:text-white">
            3
          </button>

          <button class="btn btn-sm bg-white text-black hover:text-white">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</>