<>
  {/*w-status-pekerjaan*/}
  <effect
    meta={{
      statuspekerja: [],
      searching: "",
      entries: 5,
      last_entries: 5,
      first_entries: 0,
      page: 1,
      sum_page: 0,
      page_array: [],

      async onChange(key, e) {
        let value = e.target.value;

        if (key === "entries") {
          runInAction(() => {
            this[key] = value;
            this.first_entries = 0;
            this.page = 1;
            this.last_entries = parseInt(value);
            this.sum_page = Math.ceil(this.statuspekerja.length / this.entries);
            this.page_array = Array.apply(null, {
              length: this.sum_page,
            }).map(Number.call, Number);
          });
        } else if (key === "searching") {
          runInAction(() => {
            this[key] = value;
            api("/api/statuspekerja-test", {
              statuspekerja: {
                status_pekerja: value,
              },
              e: "Searching",
            }).then((res) => {
              runInAction(() => {
                this.statuspekerja = res.statuspekerja;
                this.first_entries = 0;
                this.page = 1;
                this.last_entries = parseInt(this.entries);
                this.sum_page = Math.ceil(
                  this.statuspekerja.length / this.entries
                ); // meta.page_array = new Array(meta.sum_page);

                this.page_array = Array.apply(null, {
                  length: this.sum_page,
                }).map(Number.call, Number);
              });
            });
          });
        }

        console.log(key + " : " + this[key]); // console.log("page : " + this.page);
        // console.log("last_entries : " + this.last_entries);
      },

      async editStatusPekerjaan(id) {
        navigate("/edit-status-pekerjaan/" + id);
      },

      async deleteStatusPekerjaan(id) {
        console.log(id);
        const confirmDel = confirm("Confirm delete?");

        if (confirmDel) {
          await api("/api/statuspekerja-test", {
            statuspekerja: {
              id: id,
            },
            e: "Delete",
          }).then((res) => {
            if (res.res === "Failure") {
              alert(
                "Can't delete Status Pekerjaan, because related with another data"
              );
            } else {
              navigate("/status-pekerjaan");
            }
          });
        }
      },

      async onClickPage(key, value) {
        if (value !== this.page && value !== 0 && value <= this.sum_page) {
          const last_page = this.page;
          const gap = value - last_page;
          const res = gap > 0;
          console.log("gap", gap);
          runInAction(() => {
            this.page = value;
            if (res) {
              this.first_entries += parseInt(this.entries) * Math.abs(gap);
              this.last_entries += parseInt(this.entries) * Math.abs(gap);
            } else {
              this.first_entries -= parseInt(this.entries) * Math.abs(gap);
              this.last_entries -= parseInt(this.entries) * Math.abs(gap);
            }
          });
          console.log(key + " : " + value); // console.log("first_entries : " + this.first_entries);
          // console.log("last_entries : " + this.last_entries);
          // console.log("gap : " + res);
        }
      },
    }}
    run={async () => {
      var statuspekerja = null as any;

      await api("/api/statuspekerja-test", {
        statuspekerja: " ",
        e: "ReadAllData",
      }).then((res) => {
        console.log(res);
        statuspekerja = res.statuspekerja;
      });

      runInAction(() => {
        console.log("berubah");
        meta.statuspekerja = statuspekerja;
        // meta.nama_kategori = barang.kategori.nama;
        meta.sum_page = Math.ceil(meta.statuspekerja.length / meta.entries); // meta.page_array = new Array(meta.sum_page);

        meta.page_array = Array.apply(null, {
          length: meta.sum_page,
        }).map(Number.call, Number);
      }); // console.log(meta.page_array);
    }}
  />
  <div class="card bg-white shadow">
    <div class="card-body">
      <div class="flex mb-4">
        <a
          href="/add-status-kerja"
          class="btn bg-blue-700 border-none hover:bg-blue-500"
        >
          <svg
            width={17}
            height={16}
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mr-3"
          >
            <path
              fillRule="evenodd"
              clipRule="evenodd"
              d="M7.5 14a6 6 0 100-12 6 6 0 000 12zm.75-8.25a.75.75 0 10-1.5 0v1.5h-1.5a.75.75 0 100 1.5h1.5v1.5a.75.75 0 001.5 0v-1.5h1.5a.75.75 0 000-1.5h-1.5v-1.5z"
              fill="#F3F4F6"
            />
          </svg>
          Tambah
        </a>
      </div>

      {/*Show Data By limit per Page*/}
      <div class="flex justify-between items-center mb-4">
        <div class="flex-2 mr-1">Show</div>
        <select
          class="select select-bordered max-w-xs mr-1"
          value={meta.entries}
          onChange={(e) => {
            meta.onChange("entries", e);
          }}
        >
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <div class="flex-1 ml-1">entries</div>
        {/*Filter Cari*/}
        <div class="form-control">
          <div class="relative">
            <input
              type="text"
              placeholder="Cari"
              class="w-full pr-16 input input-primary input-bordered"
              onChange={(e) => {
                meta.onChange("searching", e);
              }}
              value={meta.searching}
            />
          </div>
        </div>
      </div>

      <div class="overflow-x-auto mb-4">
        <table class="table w-full table-zebra">
          <thead>
            <tr>
              <th width="50">NO</th>
              <th>Status Pekerjaan</th>
              <th width="162">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {meta.statuspekerja
              .slice(meta.first_entries, meta.last_entries)
              .map((numList, i) => {
                var odd = (i + 1) % 2;
                return (
                  <tr>
                    <th>{meta.first_entries + i + 1}</th>
                    <td>{numList.status_pekerja}</td>
                    <td>
                      <a
                        class="btn btn-xs bg-blue-500 border-none hover:bg-blue-700 mr-4"
                        onClick={() => {
                          meta.editStatusPekerjaan(numList.id);
                        }}
                      >
                        <img
                          width={17}
                          height={16}
                          src="/fimgs/ic-edit.x1.svg"
                        />{" "}
                        Edit
                      </a>
                      <a
                        class="btn btn-xs bg-red-500 border-none hover:bg-red-700"
                        onClick={() => {
                          meta.deleteStatusPekerjaan(numList.id);
                        }}
                      >
                        <img
                          width={17}
                          height={16}
                          src="/fimgs/ic-hapus.x1.svg"
                        />{" "}
                        Hapus
                      </a>
                    </td>
                  </tr>
                );
              })}
            {meta.statuspekerja.length === 0 && (
              <tr className="flex w-full justify-center p-3">
                <td>No data found!</td>
              </tr>
            )}
          </tbody>
        </table>
      </div>
      {/*Pagination*/}
      <div class="flex self-stretch space-x-2.5 items-center justify-start bg-coolGray-50">
        <div class="flex flex-1 items-start justify-start">
          <div class={`text-base leading-normal text-black`}>{`Showing ${
            meta.first_entries + 1
          } to ${
            meta.last_entries <= meta.statuspekerja.length
              ? meta.last_entries
              : meta.statuspekerja.length
          } of ${meta.statuspekerja.length} entries`}</div>
        </div>
        <div class="flex space-x-2 items-start justify-start">
          <div
            class={`flex self-stretch flex-col items-center justify-center px-2 bg-coolGray-50 rounded cursor-pointer`}
            style={`:hover {outline: 2px solid #ababab;`}
            onClick={() => {
              meta.onClickPage("page" + (meta.page - 1), meta.page - 1);
            }}
          >
            Previous
          </div>
          {meta.page_array.map((numList, i) => {
            const upper =
              meta.page + 2 < meta.page_array.length
                ? meta.page + 2
                : meta.page_array.length;
            const under = meta.page - 2 > 0 ? meta.page - 2 : 1;

            if (
              (numList + 1 < upper && numList + 1 > under) ||
              numList + 1 === 1 ||
              numList + 1 === meta.page_array.length
            ) {
              return (
                <div class={`flex items-start justify-start`}>
                  {
                    <div
                      class={`flex flex-col items-start justify-start px-2.5 py-1 bg-blue-100 rounded text-white`}
                      style={`${
                        "page" + meta.page === "page" + (i + 1)
                          ? `background: rgba(29, 78, 216, var(--tw-bg-opacity));`
                          : `:hover {background-color: rgba(191, 219, 254, var(--tw-bg-opacity));}`
                      }
                                cursor:pointer;`}
                      onClick={() => {
                        meta.onClickPage("page" + (i + 1), i + 1);
                      }}
                    >
                      <div class={`text-base leading-normal`}>
                        {numList + 1}
                      </div>
                    </div>
                  }
                </div>
              );
            } else {
              if (numList + 1 === upper || numList + 1 === under) return "...";
            }
          })}
          <div
            class={`flex self-stretch flex-col items-center justify-center px-2 bg-coolGray-50 rounded cursor-pointer`}
            style={`:hover {outline: 2px solid #ababab;`}
            onClick={() => {
              meta.onClickPage("page" + (meta.page + 1), meta.page + 1);
            }}
          >
            Next
          </div>
        </div>
      </div>
    </div>
  </div>
</>