<>
  <effect run={() => {}} />
  <div className="flex h-screen overflow-hidden bg-white ">
    <div className="w-screen h-screen flex justify-center items-center bg-white">
      <div className="p-10 flex justify-center items-center flex-col">
        <p className="mb-2 font-bold text-3xl text-gray-800">
          Profil Perusahaan
        </p>
        <br></br>

        <img
          className="mb-5"
          src="/fimgs/img-androgroup.x1.svg"
          alt="BPS NJ"
          width="300"
          height="270"
        />

        <p className="mb-5 text-md text-gray-600 text-center">
          Kami adalah perusahaan jasa sistem informasi. Kami mengembangkan,
          menerapkan, mengintegrasikan, meningkatkan, dan mengaktifkan sistem
          informasi untuk organisasi Anda sejak tahun 2008. Andromedia yang
          didirikan di Surabaya dikenal sebagai kota pahlawan menjadikan
          integritas dan kerja keras sebagai nilai inti kami. Kami berpengalaman
          menyediakan solusi yang disesuaikan untuk industri besar, nasional,
          dan perusahaan multinasional.
        </p>

        <img
          className="mb-1"
          src="/fimgs/ic-map.x1.svg"
          alt="Alamat"
          width="30"
          height="27"
        />

        <p className="mb-5 text-md text-gray-600 text-center">
          Jl. Jemur Andayani XV No.3B, Jemur Wonosari, Kec. Wonocolo, Kota
          Surabaya, Jawa Timur 60237
        </p>

        <img
          className="mb-1"
          src="/fimgs/ic-email.x1.svg"
          alt="Email"
          width="30"
          height="27"
        />

        <p className="mb-5 text-md text-gray-600 text-center">
          cs@andromedia.co.id
        </p>

        <img
          className="mb-1"
          src="/fimgs/ic-telp.x1.svg"
          alt="Telp"
          width="30"
          height="27"
        />

        <p className="mb-5 text-md text-gray-600 text-center">+6231-60018666</p>
      </div>
    </div>
  </div>
</>