<>
  {/*m-pengaturan*/}
  <div class="card bg-white shadow" width="">
    <div class="card-body">
      <h2 class="card-title">Pengaturan</h2>
      <br></br>
      <h2 class="card-title">
        <a href="/m/profilperusahaan">INFORMASI PERUSAHAAN</a>
      </h2>
      <h2 class="card-title">
        <a>Tentang Recruitment</a>
      </h2>
      <h2 class="card-title">
        <a href="/m/faq">FAQ</a>
      </h2>
      <br></br>
      <h2 class="card-title">
        <a>TENTANG APLIKASI</a>
      </h2>
      <h2 class="card-title">App Version ___________________________0.9.3</h2>
      <h2 class="card-title">
        <a>Keluar Aplikasi</a>
      </h2>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>

      <p class="text-white">
        {" "}
        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
        _ _ _ _ _ _{" "}
      </p>
    </div>
  </div>
</>