<>
  <div class="card bg-white shadow" width="">
    <div class="card-body">
      <h2 class="card-title">Pengaturan</h2>
      <br></br>
      <h2 class="card-title">INFORMASI PERUSAHAAN</h2>
      <h2 class="card-title">Tentang Recruitment</h2>
      <h2 class="card-title">FAQ</h2>
      <br></br>
      <h2 class="card-title">TENTANG APLIKASI</h2>
      <h2 class="card-title">App Version 1.1.14</h2>
      <h2 class="card-title">Keluar Aplikasi</h2>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>

      <p>
        {" "}
        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
        _ _ _ _ _ _{" "}
      </p>
    </div>
  </div>
</>