<div>
  <div class="card bg-white shadow">
    <div class="card-body">
      {<h2 class="card-title">Tambah Operator</h2>}
      <div class="nama">
        <label class="label">
          <span class="label-text">Nama</span>
        </label>
        <input type="text" placeholder="Nama" class="input input-bordered" />
      </div>
      <div class="username">
        <label class="label">
          <span class="label-text">Username</span>
        </label>
        <input
          type="text"
          placeholder="Username"
          class="input input-bordered"
        />
      </div>
      <div class="password">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          type="password"
          placeholder="Password"
          class="input input-bordered"
        />
      </div>
      <br></br>
      <div>
        <button class="btn btn-info mr-4">Simpan</button>
        <a class="btn btn-error">Batal</a>
      </div>
    </div>
  </div>
</div>