<div>
  <div class="card bg-white shadow">
    <div class="card-body">
      {<h2 class="card-title">Tambah Operator</h2>}
      <div class="nama">
        <label class="label">
          <span class="label-text">Nama</span>
        </label>
        <input
          type="text"
          placeholder="Nama"
          class="input input-primary input-bordered"
        />
      </div>
      <div class="username">
        <label class="label">
          <span class="label-text">Username</span>
        </label>
        <input
          type="text"
          placeholder="Username"
          class="input input-primary input-bordered"
        />
      </div>
      <div class="password">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          type="password"
          placeholder="Password"
          class="input input-primary input-bordered"
        />
      </div>
      <br></br>
      <div class="flex mb-4">
        <button class="btn bg-blue-700 border-none hover:bg-blue-500">
          Simpan
        </button>
        <button class="btn bg-red-700 border-none hover:bg-red-500">
          Batal
        </button>
      </div>
    </div>
  </div>
</div>