<>
  <div class="card-body">
    <h2 class="card-title">Pekerjaan yang tersedia</h2>
  </div>

  <div class="card bg-white shadow" width="">
    <div class="card-body">
      <h2 class="card-title">Electrical Engineering</h2>
      <p>Surabaya, Jawa Timur</p>
      <p>Magang</p>
      <p>Berakhir: 30 Desember 2021</p>
    </div>
  </div>

  <div class="card bg-white shadow" width="">
    <div class="card-body">
      <h2 class="card-title">Electrical Engineering</h2>
      <p>Semarang, Jawa Tengah</p>
      <p>Magang</p>
      <p>Berakhir: 20 Desember 2021</p>

      <p>
        {" "}
        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
        _ _ _ _ _ _{" "}
      </p>
    </div>
  </div>
</>