<>
  <div class="card-body">
    <h2 class="card-title">Riwayat Lamaran</h2>
  </div>

  <div class="card bg-white shadow" width="">
    <div class="card-body">
      <h2 class="card-title">Electrical Engineering</h2>
      <p>Surabaya, Jawa Timur</p>
      <p>Magang</p>
      <p>Lamaran dilihat 2 minggu yang lalu</p>
      <div class="badge badge-accent">Proses selesai</div>
    </div>
  </div>

  <div class="card bg-white shadow" width="">
    <div class="card-body">
      <h2 class="card-title">Civil Engineering</h2>
      <p>Surabaya, Jawa Timur</p>
      <p>Magang</p>
      <p>Lamaran dilihat 2 minggu yang lalu</p>
      <div class="badge">Belum diterima</div>
      <p>
        {" "}
        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
        _ _ _ _ _ _{" "}
      </p>
    </div>
  </div>
</>