<>
  <br></br>
  <div className="flex justify-center items-center flex-col">
    <p className="font-bold text-2xl text-gray-800">Riwayat Lamaran</p>
  </div>

  <div class="card bg-white shadow">
    <div class="flex items-center p-5 bg-white rounded-xl shadow-md dark:bg-gray-800">
      <div class="rounded-full w-14 h-14 mr-4">
        <a>
          <img src="/fimgs/logo-andro2.x1.svg" />
        </a>
      </div>
      <div>
        <h2 class="card-title">Civil Engineering</h2>
        <p>Surabaya, Jawa Timur</p>
        <p>Magang</p>
        <p>Dikirim pada 22 Des 2021, 09.50 AM</p>
        <div class="badge badge-accent">Proses seleksi</div>
      </div>
    </div>
  </div>

  <div class="card bg-white shadow">
    <div class="flex items-center p-5 bg-white rounded-xl shadow-md dark:bg-gray-800">
      <div class="rounded-full w-14 h-14 mr-4">
        <a>
          <img src="/fimgs/logo-andro2.x1.svg" />
        </a>
      </div>
      <div>
        <h2 class="card-title">Civil Engineering</h2>
        <p>Surabaya, Jawa Timur</p>
        <p>Magang</p>
        <p>Dikirim pada 22 Des 2021, 09.50 AM</p>
        <div class="badge">Belum diterima</div>
        <p class="text-white">
          _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
          _ _
        </p>
      </div>
    </div>
  </div>
</>