<>
  {/*w-edit-posisi-lowongan*/}
  <effect
    meta={{
      value: {},
      posisi: "",
      jobDesc: "",
      persyaratan: "",
      id_posisi: null,
    }}
    run={async () => {
      // get params id alamat
      meta.id_posisi = parseInt(params.id);
      // get posisi lowongan by id
      meta.value = await api(`/api/kebutuhanloker/d/` + meta.id_posisi).then(
        (res) => {
          meta.posisi = res.data.posisi;
          meta.jobDesc = res.data.jobdesc;
          meta.persyaratan = res.data.persyaratan;
        }
      );
      meta.action = {
        posisiChange: (e) => {
          runInAction(() => {
            meta.posisi = e.target.value;
          });
        },
        jobDescChange: (e) => {
          runInAction(() => {
            meta.jobDesc = e.target.value;
          });
        },
        persyaratanChange: (e) => {
          runInAction(() => {
            meta.persyaratan = e.target.value;
          });
        },
        // Method Tambah
        addPosisi: (e) => {
          api(`/api/kebutuhanloker/d/` + meta.id_posisi, {
            posisi: meta.posisi,
            jobdesc: meta.jobDesc,
            persyaratan: meta.persyaratan,
          }).then((e) => {
            console.log(e);
            alert("Edit Posisi Berhasil!");
            window.location.replace("/posisi-lowongan");
          });
        },
      };
    }}
  />
  <div class="card bg-white shadow">
    <div class="card-body">
      <h2 class="card-title">Edit Posisi Lowongan</h2>
      <form
        onSubmit={(e) => {
          e.preventDefault();
          meta.action.addPosisi();
        }}
      >
        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Posisi</span>
          </label>
          <div class="form-control col-span-3">
            <input
              type="text"
              value={meta.posisi}
              onChange={(e) => meta.action.posisiChange(e)}
              placeholder="ex. Application Support"
              class="input input-bordered"
            />
          </div>
        </div>

        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Persyaratan</span>
          </label>
          <div class="form-control col-span-3">
            <input
              type="text"
              value={meta.persyaratan}
              onChange={(e) => meta.action.persyaratanChange(e)}
              placeholder="ex. Semua jurusan, lebih disukai dari Teknik Informatika atau Sistem Informasi"
              class="input input-bordered"
            />
          </div>
        </div>

        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Jobdesk</span>
          </label>
          <div class="form-control col-span-3">
            <textarea
              class="textarea h-24 textarea-bordered"
              value={meta.jobDesc}
              onChange={(e) => meta.action.jobDescChange(e)}
              placeholder="ex. Peranan Application Support sangat signifikan dalam mendukung kelancaran pengembangan program aplikasi. Bagaimana Anda dapat mentransformasikan kebutuhan klien dengan berbagai proses bisnisnya menjadi flowchart yang akan menuntun programmer dalam membuat program tersebut akan menjadi  tantangan yang sangat menarik bagi Anda. Memiliki daya analisa yang kuat dan komunikasi yang baik sangat penting untuk posisi ini."
            ></textarea>
          </div>
        </div>

        <div>
          <a href="/posisi-lowongan" class="btn btn-error btn-outline mr-4">
            Batal
          </a>
          <button class="btn btn-primary" type="submit">
            Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</>