<>
  <br></br>
  <div className="flex justify-center items-center flex-col">
    <p className="font-bold text-3xl text-gray-800">FAQ</p>
  </div>

  <div class="card bg-white shadow">
    <div class="flex items-center p-5 bg-white rounded-xl shadow-md dark:bg-gray-800">
      <div>
        <h2 class="card-title">Apa itu AndroRec (Andromedia Recruitment)?</h2>
        <p>
          AndroRec (Andromedia Recruitment) merupakan aplikasi resmi dari PT.
          Andromedia untuk proses recruitment karyawan baru yang akan bergabung
          bersama kami.
        </p>
      </div>
    </div>
  </div>

  <div class="card bg-white shadow">
    <div class="flex items-center p-5 bg-white rounded-xl shadow-md dark:bg-gray-800">
      <div>
        <h2 class="card-title">Bagaimana mencari jenis pekerjaan tertentu?</h2>
        <p>
          Anda dapat menggunakan fitur cari pada menu home dan dapat melakukan
          filter pekerjaan tertentu untuk mendapatkan jenis pekerjaan sesuai
          keinginan Anda.
        </p>
      </div>
    </div>
  </div>

  <div class="card bg-white shadow">
    <div class="flex items-center p-5 bg-white rounded-xl shadow-md dark:bg-gray-800">
      <div>
        <h2 class="card-title">Apa saja jenis pekerjaan yang tersedia?</h2>
        <p>
          Anda dapat melihat semua lowongan pekerjaan yang tersedia pada menu
          home dengan status lowongan tersedia.
        </p>
      </div>
    </div>
  </div>

  <div class="card bg-white shadow">
    <div class="flex items-center p-5 bg-white rounded-xl shadow-md dark:bg-gray-800">
      <div>
        <h2 class="card-title">Bagaimana cara mengelola profil?</h2>
        <p>
          Anda dapat menambahkan, menghapus, dan memperbarui profil Anda pada
          menu profil. semua isi profil Anda akan menjadi pertimbangan kami
          dalam proses penerimaan karyawan baru di PT Andromedia.
        </p>
      </div>
    </div>
  </div>

  <div class="card bg-white shadow">
    <div class="flex items-center p-5 bg-white rounded-xl shadow-md dark:bg-gray-800">
      <div>
        <h2 class="card-title">Bagaimana cara melamar kerja di AndroRec?</h2>
        <p>
          Lengkapi profil Anda dengan sebaik-baiknya, kemudian Anda dapat
          melakukan apply lamaran pada lowongan.
        </p>
      </div>
    </div>
  </div>

  <div class="card bg-white shadow">
    <div class="flex items-center p-5 bg-white rounded-xl shadow-md dark:bg-gray-800">
      <div>
        <h2 class="card-title">
          Bagaimana saya mendapat update informasi lamaran saya?
        </h2>
        <p>
          Anda dapat melihat aktivitas lamaran Anda serta segala update
          informasi selama proses seleksi hingga penerimaan pada menu riwayat
          aktivitas yang telah kami sediakan.
        </p>
      </div>
    </div>
  </div>

  <div class="card bg-white shadow">
    <div class="flex items-center p-5 bg-white rounded-xl shadow-md dark:bg-gray-800">
      <div>
        <h2 class="card-title">
          Apakah data pribadi yang diunggah pada AndroRec aman?
        </h2>
        <p>
          Semua data Anda akan kami gunakan hanya untuk pertimbangan dalam
          melakukan proses seleksi karyawan baru. Data Anda juga kami pastikan
          disimpan dengan aman pada database kami dan apabila terdapat kebocoran
          data PT Andromedia siap untuk bertanggung jawab.
        </p>
      </div>
    </div>
  </div>
</>