<>
  <div class="card bg-white shadow">
    <div class="card-body">
      <form
      // onSubmit={(e) => {
      //   e.preventDefault();
      //   meta.action.addPosisi();
      // }}
      >
        <h2 class="card-title">Identitas Pribadi</h2>
        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Nama Lengkap *</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
                required
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">NIK *</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
                required
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Tempat Kelahiran *</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
                required
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-4 gap-1 mb-1">
          <label class="label">
            <span class="label-text mr-3">Tanggal Lahir *</span>
          </label>
          <div class="form-control col-span-3">
            <input
              type="date"
              class="input input-bordered"
              required
              // value={meta.tglMulai}
              // onChange={(e) => meta.action.tglMulaiChange(e)}
            />
          </div>
        </div>

        <div class="grid grid-cols-4 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Jenis Kelamin*</span>
          </label>
          <br></br>
          <select
            class="select select-bordered w-full col-span-3"
            // value={meta.stsPekerja}
            // onChange={(e) => meta.action.stsPekerjaChange(e)}
            required
          >
            <option>Pilih Jenis Kelamin</option>
            {/*{meta.listStsPekerja?.data?.map((listStsPekerja, idx) => (*/}
            {/*<option value={listStsPekerja.id}>*/}
            {/*{listStsPekerja.status_pekerja}*/}
            {/*</option>*/}
            {/*))}*/}
          </select>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-4">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
              />
            </div>
          </div>
        </div>

        <h2 class="card-title">Alamat</h2>
        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Alamat saat ini *</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
                required
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-4 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Provinsi *</span>
          </label>
          <br></br>
          <select
            class="select select-bordered w-full col-span-3"
            // value={meta.stsPekerja}
            // onChange={(e) => meta.action.stsPekerjaChange(e)}
            required
          >
            <option>Pilih Provinsi</option>
            {/*{meta.listStsPekerja?.data?.map((listStsPekerja, idx) => (*/}
            {/*<option value={listStsPekerja.id}>*/}
            {/*{listStsPekerja.status_pekerja}*/}
            {/*</option>*/}
            {/*))}*/}
          </select>
        </div>

        <div class="grid grid-cols-4 gap-1 mb-4">
          <label class="label">
            <span class="label-text">Kota *</span>
          </label>
          <br></br>
          <select
            class="select select-bordered w-full col-span-3"
            // value={meta.stsPekerja}
            // onChange={(e) => meta.action.stsPekerjaChange(e)}
            required
          >
            <option>Pilih Kota</option>
            {/*{meta.listStsPekerja?.data?.map((listStsPekerja, idx) => (*/}
            {/*<option value={listStsPekerja.id}>*/}
            {/*{listStsPekerja.status_pekerja}*/}
            {/*</option>*/}
            {/*))}*/}
          </select>
        </div>

        <h2 class="card-title">Foto Identitas</h2>
        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Pas Foto 4x6 *</span>
          </label>
          <div class="grid grid-cols-1 gap-1 mb-1">
            <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <input
                  placeholder=""
                  type="file"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                  }
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-4">
          <label class="label">
            <span class="label-text">Foto KTP *</span>
          </label>
          <div class="grid grid-cols-1 gap-1 mb-1">
            <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <input
                  placeholder=""
                  type="file"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                  }
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <div>
          <button class="btn btn-primary" type="submit">
            <a href="/m/data/pendidikan">Simpan Perubahan</a>
          </button>
        </div>
      </form>
    </div>
  </div>
</>