<>
  <effect
    meta={{
      value: {},
      id_dep: 0,
      nama_department: "",
      deskripsi: "",
      addData: (e) => {
        console.log(e.target.value);
      },
    }}
    run={async () => {
      meta.id_dep = parseInt(params.id);
      meta.value = await db.department.findUnique({
        where: {
          id_department: meta.id_dep,
        },
      });
      meta.nama_department = meta.value.nama_department;
      meta.deskripsi = meta.value.deskripsi;
      meta.action = {
        namaDepartmentChange: (e) => {
          runInAction(() => {
            meta.nama_department = e.target.value;
            console.log(meta.nama_department);
          });
        },
        deskripsiChange: (e) => {
          runInAction(() => {
            meta.deskripsi = e.target.value;
            console.log(meta.deskripsi);
          });
        },
        addData: (e) => {
          api("/api/department-data/edit", {
            id_department: meta.value.id_department,
            nama_department: meta.nama_department,
            deskripsi: meta.deskripsi,
          }).then((e) => {
            console.log(e);
            if (e.status == "SUCCESS") {
              window.location.replace("/department-data");
            } else {
              console.log(e);
            }
          });
        },
      };
    }}
  />
  <div class="flex flex-col items-start m-6 h-full justify-start bg-gray-50">
    <div class="flex flex-1 flex-col w-full space-y-4 items-start justify-start py-6 bg-white shadow-md rounded-xl px-6">
      <div class="flex self-stretch items-center justify-between">
        <div class="flex items-start justify-start">
          <div class="text-xl font-medium tracking-wide leading-loose text-center text-gray-800">
            DEPARTMENT DATA - EDIT DATA
          </div>
        </div>
      </div>
      <hr class=" w-full pb-4"></hr>
      <div class="flex flex-col space-y-6 w-full h-full items-center justify-start">
        <div class="flex self-stretch items-start justify-start px-5">
          <div class="flex flex-1 items-center justify-start ">
            <div class="flex items-center w-48 justify-start text-md font-bold text-gray-800">
              Department Name
            </div>
            <input
              type="text"
              value={meta.nama_department}
              onChange={(e) => meta.action.namaDepartmentChange(e)}
              class="flex self-stretch text-gray-600 w-full items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
              placeholder="type your department name here ..."
            />
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start px-5">
          <div class="flex flex-1 items-start justify-start ">
            <div class="flex items-start w-48 justify-start font-bold text-md text-gray-800">
              Description
            </div>
            <textarea
              value={meta.deskripsi}
              onChange={(e) => meta.action.deskripsiChange(e)}
              class="flex self-stretch text-gray-600 w-full h-48 items-center font-medium justify-start py-2 pl-4 pr-5 bg-gray-100 rounded-lg text-sm"
              placeholder="type your department description here ..."
            />
          </div>
        </div>
        <button
          onClick={() => {
            meta.action.addData();
          }}
          class="flex space-x-3 items-center justify-center px-6 py-2 bg-red-900 shadow rounded-xl"
          style="max-width: 200px;"
        >
          <img
            src="/fimgs/460_875.x1.svg"
            style=" max-width: 15px; max-height: 20px;"
          />
          <div class="text-sm font-medium tracking-wide leading-relaxed text-white">
            Update Data
          </div>
        </button>
      </div>
    </div>
  </div>
</>