<>
  {/*w-edit-operator*/}
  <div>
    <div class="card bg-white shadow">
      <div class="card-body">
        <h2 class="card-title">Edit Operator</h2>
        <div class="email">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            type="text"
            placeholder="Email"
            class="input input-bordered"
            required="True"
          />
        </div>
        <div class="username">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input
            type="text"
            placeholder="Username"
            class="input input-bordered"
            required="True"
          />
        </div>
        <div class="password">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="Password"
            class="input input-bordered"
            required="True"
          />
        </div>
        <br></br>
        <div>
          <a href="/operators" class="btn btn-error btn-outline mr-4">
            Batal
          </a>
          <button class="btn btn-primary">Simpan</button>
        </div>
      </div>
    </div>
  </div>
</>