<>
  {/*m-profile*/}
  <div class="card bg-white shadow">
    <div class="flex items-center p-5 bg-white rounded-xl shadow-md dark:bg-gray-800">
      <div class="rounded-full w-14 h-14 mr-4">
        <a>
          <img src="/fimgs/profile.x1.svg" />
        </a>
      </div>
      <div>
        <h2 class="card-title">Indri Suci Indartik</h2>
        <p>indrisuci@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="card bg-white shadow">
    <div class="card-body">
      <h2 class="card-title">
        <a href="/m/data/identitas">Identitas Pribadi</a>
      </h2>
      <h2 class="card-title">
        <a href="/m/data/pendidikan">Pendidikan</a>
      </h2>
      <h2 class="card-title">
        <a href="/m/data/keahlian">Keahlian</a>
      </h2>
      <h2 class="card-title">
        <a href="/m/change-password">Ganti Kata Sandi</a>
      </h2>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <p class="text-white">
        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
        _ _ _ _ _ _
      </p>
    </div>
  </div>
</>