<>
  {/*m-data-pendidikan*/}
  <div class="card bg-white shadow">
    <div class="card-body">
      <form
      // onSubmit={(e) => {
      //   e.preventDefault();
      //   meta.action.addPosisi();
      // }}
      >
        <div>
          <button class="btn btn-primary">
            <a href="/m/data/identitas">Kembali</a>
          </button>
        </div>
        <br></br>
        <h2 class="card-title">Pendidikan Formal & Organisasi</h2>

        <div class="grid grid-cols-4 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Jenjang *</span>
          </label>
          <br></br>
          <select
            class="select select-bordered w-full col-span-3"
            // value={meta.stsPekerja}
            // onChange={(e) => meta.action.stsPekerjaChange(e)}
            required
          >
            <option selected>Pilih Jenjang</option>
            <option>SD</option>
            <option>SMP</option>
            <option>SMA/SMK</option>
            <option>S1</option>
            <option>S2</option>
            {/*{meta.listStsPekerja?.data?.map((listStsPekerja, idx) => (*/}
            {/*<option value={listStsPekerja.id}>*/}
            {/*{listStsPekerja.status_pekerja}*/}
            {/*</option>*/}
            {/*))}*/}
          </select>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Tahun Kelulusan *</span>
          </label>
          <label class="label">
            <span class="label-text">Periode</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
                required
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Sampai</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
                required
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-4 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Instansi/Universitas*</span>
          </label>
          <br></br>
          <select
            class="select select-bordered w-full col-span-3"
            // value={meta.stsPekerja}
            // onChange={(e) => meta.action.stsPekerjaChange(e)}
            required
          >
            <option>Pilih Instansi/Universitas</option>
            <option>Sekolah</option>
            <option>Universitas</option>
            <option>Institut</option>
            <option>Politeknik</option>
            <option>Akademi</option>
            <option>Sekolah Tinggi</option>
            {/*{meta.listStsPekerja?.data?.map((listStsPekerja, idx) => (*/}
            {/*<option value={listStsPekerja.id}>*/}
            {/*{listStsPekerja.status_pekerja}*/}
            {/*</option>*/}
            {/*))}*/}
          </select>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Jurusan *</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
                required
              />
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-4">
          <label class="label">
            <span class="label-text">GPA/Grade *</span>
          </label>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <input
                placeholder=""
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
                required
              />
            </div>
          </div>
        </div>

        <h2 class="card-title">Dokumen</h2>
        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Ijazah *</span>
          </label>
          <div class="grid grid-cols-1 gap-1 mb-1">
            <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <input
                  placeholder=""
                  type="file"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                  }
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-4">
          <label class="label">
            <span class="label-text">CV *</span>
          </label>
          <div class="grid grid-cols-1 gap-1 mb-1">
            <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <input
                  placeholder=""
                  type="file"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                  }
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <h2 class="card-title">Sertifikat Pengalaman Organisasi</h2>
        <div class="grid grid-cols-1 gap-1 mb-1">
          <label class="label">
            <span class="label-text">Sertifikat</span>
          </label>
          <div class="grid grid-cols-1 gap-1 mb-1">
            <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <input
                  placeholder=""
                  type="file"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                  }
                />
              </div>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <div class="grid grid-cols-1 gap-1 mb-1">
            <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <input
                  placeholder=""
                  type="file"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                  }
                />
              </div>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-1">
          <div class="grid grid-cols-1 gap-1 mb-1">
            <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <input
                  placeholder=""
                  type="file"
                  class={
                    "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                  }
                />
              </div>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-1 mb-4">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex  items-start justify-start">
              <button
                class={
                  "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
                }
                type="button"
              >
                + Tambahkan
              </button>
            </div>
          </div>
        </div>

        <div>
          <button class="btn btn-primary">
            <a href="/m/data/keahlian">Simpan Perubahan</a>
          </button>
        </div>
      </form>
    </div>
  </div>
</>