<>
  {/*m-register-verif-resend*/}
  <effect run={() => {}} />
  <div className="flex h-screen overflow-hidden bg-white ">
    <div className="w-screen h-screen flex justify-center items-center bg-white">
      <div className="p-10 flex justify-center items-center flex-col">
        <img
          className="mb-5"
          src="/fimgs/img-verification.x1.svg"
          alt="BPS NJ"
          width="200"
          height="180"
        />
        <p className="mb-2 font-bold text-3xl text-gray-800">
          Masukkan Kode Verifikasi
        </p>
        <p className="mb-5 text-md text-gray-600 text-center">
          Kode verifikasi telah dikirim melalui e-mail <br></br> ke
          n*************@g****.com
        </p>

        <div className="form-control mb-4">
          <div className="flex space-x-2">
            <input
              type="text"
              className="w-80 input input-bordered"
              autoComplete="off"
              placeholder="Kode Verifikasi"
              name="nama-lengkap"
            />
          </div>
        </div>

        <p className="mb-5 text-md text-gray-600 text-center">
          Tidak menerima kode? <a>Kirim ulang</a>
        </p>
        <button
          className="bg-blue-500 hover:bg-blue-700 text-white font-bold p-3 rounded w-80"
          onClick={() => {
            window.location.replace("/m/register/verif-success");
          }}
        >
          <span>Verifikasi</span>
        </button>
      </div>
    </div>
  </div>
</>