<>
  <effect
    meta={{
      stsKerja: "",
    }}
    run={async () => {
      meta.action = {
        statusKerjaChange: (e) => {
          runInAction(() => {
            meta.stsKerja = e.target.value;
            // console.log(meta.stsKerja);
          });
        },
        // Method Tambah
        addStsKerja: (e) => {
          api("/api/statuspekerja", {
            status_pekerja: meta.stsKerja,
          }).then((e) => {
            console.log(e);
            alert("Tambah Status Kerja Berhasil!");
            window.location.replace("/status-pekerjaan");
          });
        },
      };
    }}
  />
  <div class="card bg-white shadow">
    <div class="card-body">
      <h2 class="card-title">Tambah Status Pekerjaan</h2>
      <form
        onSubmit={(e) => {
          e.preventDefault();
          meta.action.addStsKerja();
        }}
      >
        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Status Kerja</span>
          </label>
          <div class="form-control col-span-3">
            <input
              type="text"
              value={meta.stsKerja}
              onChange={(e) => meta.action.statusKerjaChange(e)}
              placeholder="Status Kerja"
              class="input input-bordered"
              required
            />
          </div>
        </div>

        <div>
          <a href="/status-pekerjaan" class="btn btn-outline btn-error mr-4">
            Batal
          </a>
          <button class="btn btn-primary" type="submit">
            Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</>