<>
  <effect
    meta={{
      alamat: "",
      kota: "",
      provinsi: "",
      listKota: {},
      listProvinsi: {},
    }}
    run={async () => {
      meta.listKota = await api("/api/kota");
      meta.listProvinsi = await api("/api/provinsi");

      meta.action = {
        alamatChange: (e) => {
          runInAction(() => {
            meta.alamat = e.target.value;
            console.log(meta.alamat);
          });
        },
        kotaChange: (e) => {
          runInAction(() => {
            meta.kota = e.target.value;
            console.log(meta.kota);
          });
        },
        provinsiChange: (e) => {
          runInAction(() => {
            meta.provinsi = e.target.value;
            console.log(meta.provinsi);
          });
        },
        // Method Tambah
        addAlamat: (e) => {
          api("/api/alamat", {
            alamat: meta.alamat,
            kotaId: meta.kota,
            provinsiId: meta.provinsi,
          }).then((e) => {
            console.log(e);
            alert("Tambah Alamat Berhasil!");
            window.location.replace("/alamat");
          });
        },
      };
    }}
  />
  <div class="card bg-white shadow">
    <div class="card-body">
      <form
        onSubmit={(e) => {
          e.preventDefault();
          meta.action.addAlamat();
        }}
      >
        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Status Kerja</span>
          </label>
          <div class="form-control col-span-3">
            <input
              type="text"
              value={meta.alamat}
              onChange={(e) => meta.action.alamatChange(e)}
              placeholder="Status Kerja"
              class="input input-bordered"
              required
            />
          </div>
        </div>

        <div>
          <button class="btn btn-info mr-4" type="submit">
            Simpan
          </button>
          <a href="/alamat" class="btn btn-error">
            Batal
          </a>
        </div>
      </form>
    </div>
  </div>
</>