<>
  <div class="card bg-white shadow">
    <div class="card-body">
      <div class="grid grid-cols-4 gap-2 mb-4">
        <label class="label">
          <span class="label-text">Posisi</span>
        </label>
        <select class="select select-bordered w-full col-span-3">
          <option disabled="disabled" selected="selected">
            Pilih Posisi
          </option>
          <option>telekinesis</option>
          <option>time travel</option>
          <option>invisibility</option>
        </select>
      </div>

      <div class="grid grid-cols-4 gap-2 mb-4">
        <label class="label">
          <span class="label-text">Jenis Pekerjaan</span>
        </label>
        <select class="select select-bordered w-full col-span-3">
          <option disabled="disabled" selected="selected">
            Pilih Jenis Pekerjaan
          </option>
          <option>telekinesis</option>
          <option>time travel</option>
          <option>invisibility</option>
        </select>
      </div>

      <div class="grid grid-cols-4 gap-2 mb-4">
        <label class="label">
          <span class="label-text">Tanggal Mulai</span>
        </label>
        <div class="form-control col-span-3">
          <input type="date" class="input input-bordered" />
        </div>
      </div>

      <div class="grid grid-cols-4 gap-2 mb-4">
        <label class="label">
          <span class="label-text">Tanggal Selesai</span>
        </label>
        <div class="form-control col-span-3">
          <input type="date" class="input input-bordered" />
        </div>
      </div>

      <div class="grid grid-cols-4 gap-2 mb-4">
        <label class="label">
          <span class="label-text">Departemen</span>
        </label>
        <select class="select select-bordered w-full col-span-3">
          <option disabled="disabled" selected="selected">
            Pilih Departemen
          </option>
          <option>telekinesis</option>
          <option>time travel</option>
          <option>invisibility</option>
        </select>
      </div>

      <div class="grid grid-cols-4 gap-2 mb-4">
        <label class="label">
          <span class="label-text">Status</span>
        </label>
        <select class="select select-bordered w-full col-span-3">
          <option disabled="disabled" selected="selected">
            Pilih Status
          </option>
          <option>telekinesis</option>
          <option>time travel</option>
          <option>invisibility</option>
        </select>
      </div>

      <div class="grid grid-cols-4 gap-2 mb-4">
        <label class="label">
          <span class="label-text">Persyaratan</span>
        </label>
        <div class="form-control col-span-3">
          <input
            type="text"
            placeholder="ex. Semua jurusan, lebih disukai dari Teknik Informatika atau Sistem Informasi"
            class="input input-bordered"
          />
        </div>
      </div>

      <div class="grid grid-cols-4 gap-2 mb-4">
        <label class="label">
          <span class="label-text">Jobdesk</span>
        </label>
        <div class="form-control col-span-3">
          <textarea
            class="textarea h-24 textarea-bordered"
            placeholder="ex. Peranan Application Support sangat signifikan dalam mendukung kelancaran pengembangan program aplikasi. Bagaimana Anda dapat mentransformasikan kebutuhan klien dengan berbagai proses bisnisnya menjadi flowchart yang akan menuntun programmer dalam membuat program tersebut akan menjadi  tantangan yang sangat menarik bagi Anda. Memiliki daya analisa yang kuat dan komunikasi yang baik sangat penting untuk posisi ini."
          ></textarea>
        </div>
      </div>

      <div class="grid grid-cols-4 gap-2 mb-4">
        <label class="label">
          <span class="label-text">Tambahan Informasi</span>
        </label>
        <div class="form-control col-span-3">
          <input type="text" placeholder="-" class="input input-bordered" />
        </div>
      </div>

      <div>
        <button class="btn btn-info mr-4">Simpan</button>
        <a href="/data-lowongan" class="btn btn-error">
          Batal
        </a>
      </div>
    </div>
  </div>
</>