<>
  {/*w-add-posisi-lowongan*/}
  <effect
    meta={{
      posisi: "",
      jobDesc: "",
      persyaratan: "",
    }}
    run={async () => {
      meta.action = {
        posisiChange: (e) => {
          runInAction(() => {
            meta.posisi = e.target.value;
          });
        },
        jobDescChange: (e) => {
          runInAction(() => {
            meta.jobDesc = e.target.value;
          });
        },
        persyaratanChange: (e) => {
          runInAction(() => {
            meta.persyaratan = e.target.value;
          });
        },
        // Method Tambah
        addPosisi: (e) => {
          api("/api/kebutuhanloker", {
            posisi: meta.posisi,
            jobdesc: meta.jobDesc,
            persyaratan: meta.persyaratan,
          }).then((e) => {
            console.log(e);
            alert("Tambah Posisi Berhasil!");
            window.location.replace("/posisi-lowongan");
          });
        },
      };
    }}
  />
  <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>

  <div class="card bg-white shadow">
    <div class="card-body">
      <h2 class="card-title">Tambah Posisi Lowongan</h2>
      <form
        onSubmit={(e) => {
          e.preventDefault();
          meta.action.addPosisi();
        }}
      >
        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Posisi</span>
          </label>
          <div class="form-control col-span-3">
            <input
              type="text"
              value={meta.posisi}
              onChange={(e) => meta.action.posisiChange(e)}
              placeholder="contoh: Application Support"
              class="input input-bordered"
            />
          </div>
        </div>

        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Persyaratan</span>
          </label>
          <div class="form-control col-span-3">
            <input
              type="text"
              value={meta.persyaratan}
              onChange={(e) => meta.action.persyaratanChange(e)}
              placeholder="contoh: Semua jurusan, lebih disukai dari Teknik Informatika atau Sistem Informasi"
              class="input input-bordered"
            />
          </div>
        </div>

        <div class="grid grid-cols-4 gap-2 mb-4">
          <label class="label">
            <span class="label-text">Jobdesk</span>
          </label>
          <div class="form-control col-span-3">
            <textarea
              class="textarea h-24 textarea-bordered"
              value={meta.jobDesc}
              onChange={(e) => meta.action.jobDescChange(e)}
              placeholder="contoh: Peranan Application Support sangat signifikan dalam mendukung kelancaran pengembangan program aplikasi. Bagaimana Anda dapat mentransformasikan kebutuhan klien dengan berbagai proses bisnisnya menjadi flowchart yang akan menuntun programmer dalam membuat program tersebut akan menjadi  tantangan yang sangat menarik bagi Anda. Memiliki daya analisa yang kuat dan komunikasi yang baik sangat penting untuk posisi ini."
            ></textarea>
          </div>
        </div>

        <div>
          <a href="/posisi-lowongan" class="btn btn-outline btn-error mr-4">
            Batal
          </a>
          <button class="btn btn-primary" type="submit">
            Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
  {/*<textarea name="editor1"></textarea>*/}
  {/*<script>CKEDITOR.replace( 'editor1' );</script>*/}
</>