<>
  {/*m-landing-page*/}
  <body style="background-color:#2563EB">
    <>
      {/*m-register-success*/}
      <effect run={() => {}} />
      <div className="flex h-screen overflow-hidden">
        <div className="w-screen h-screen flex justify-center items-center">
          <div className="p-10 flex justify-center items-center flex-col">
            <img
              className="mb-5"
              src="/fimgs/logo-landingpage.x1.svg"
              alt="BPS NJ"
              width="150"
              height="150"
            />
            <br></br>
            <p className="mb-2 font-bold text-4xl text-white">
              Selamat Datang!
            </p>
            <a
              className="mb-2 font-bold text-3x1 text-white"
              href="/m/landing-page-2"
            >
              Kembangkan Kariermu bersama AndroRec
            </a>
          </div>
        </div>
      </div>
    </>
  </body>
</>