<>
  {/*w-data-pelamar-detail-identitas*/}
  <div>
    <div class="card bg-white shadow">
      <div class="card-body">
        {<h2 class="card-title">Data Pelamar / Detail Pelamar</h2>}
      </div>
      <div class="tabs tabs-boxed">
        <a href="/data-pelamar/detail/identitas" class="tab tab-active">
          IDENTITAS PRIBADI
        </a>
        <a href="/data-pelamar/detail/pendidikan" class="tab">
          PENDIDIKAN FORMAL & ORGANISASI
        </a>
        <a href="/data-pelamar/detail/keahlian" class="tab">
          SKILL/KEAHLIAN
        </a>
      </div>
      <br></br>

      <h3 class="card-title">Identitas Pribadi</h3>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <tbody>
            <tr class="hover">
              <td>Nama Lengkap</td>
              <td>
                <div class="form-control col-span-3">
                  <input
                    disabled
                    type="text"
                    value="Indri Suci Indartik"
                    // placeholder="Indri Suci Indartik"
                    class="input input-bordered"
                  />
                </div>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr class="hover">
              <td>NIK</td>
              <td>
                <div class="form-control col-span-3">
                  <input
                    disabled
                    type="text"
                    value="3522094010001"
                    // placeholder="3522094010001"
                    class="input input-bordered"
                  />
                </div>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr class="hover">
              <td>Tempat Lahir</td>
              <td>
                <div class="form-control col-span-3">
                  <input
                    disabled
                    type="text"
                    value="Surabaya"
                    // placeholder="Surabaya"
                    class="input input-bordered"
                  />
                </div>
              </td>
              <td>Tanggal Lahir</td>
              <td>
                <div class="form-control col-span-3">
                  <input
                    disabled
                    type="text"
                    value="1 April 1999"
                    // placeholder="01 April 1999"
                    class="input input-bordered"
                  />
                </div>
              </td>
            </tr>
            <tr class="hover">
              <td>Jenis Kelamin</td>
              <td>
                <div class="form-control col-span-3">
                  <input
                    disabled
                    type="text"
                    value="Perempuan"
                    // placeholder="Perempuan"
                    class="input input-bordered"
                  />
                </div>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr class="hover">
              <td>Email</td>
              <td>
                <div class="form-control col-span-3">
                  <input
                    disabled
                    type="text"
                    value="indrisi@gmail.com"
                    // placeholder="indrisi@gmail.com"
                    class="input input-bordered"
                  />
                </div>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <br></br>

      <h3 class="card-title">Alamat</h3>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <tbody>
            <tr class="hover">
              <td>Alamat saat ini</td>
              <td>
                <div class="form-control col-span-3">
                  <input
                    disabled
                    type="text"
                    value="Jl. Nginden VII N0.123, Sukolilo, Surabaya"
                    // placeholder="Jl. Nginden VII N0.123, Sukolilo, Surabaya"
                    class="input input-bordered"
                  />
                </div>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr class="hover">
              <td>Provinsi</td>
              <td>
                <div class="form-control col-span-3">
                  <input
                    disabled
                    type="text"
                    value="Jawa Timur"
                    // placeholder="Jawa Timur"
                    class="input input-bordered"
                  />
                </div>
              </td>
              <td>Kota/Kabupaten</td>
              <td>
                <div class="form-control col-span-3">
                  <input
                    disabled
                    type="text"
                    value="Kota Surabaya"
                    // placeholder="Kota Surabaya"
                    class="input input-bordered"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <br></br>

      <h3 class="card-title">Foto Identitas</h3>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <tbody>
            <tr class="hover">
              <td>Pas Foto 4x6</td>
              <td>
                <a href="">indri.pdf</a>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr class="hover">
              <td>Foto KTP</td>
              <td>
                <a href="">ktp_indri.pdf</a>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</>