<>
  <effect
    meta={{
      // Show password
      togglePasswordVisiblity() {
        var passwordShown = false;
        return passwordShown ? false : true;
      },
      getCurrentYear() {
        return new Date().getFullYear();
      },
    }}
    run={() => {}}
  />
  <div className="flex overflow-hidden bg-white">
    <div className="w-screen h-screen justify-center flex bg-white">
      <div className="flex flex-col justify-center">
        <div className="flex content-center justify-center">
          <img
            className="mb-5"
            src="/fimgs/image-login.x3.svg"
            alt="BPS NJ"
            width="200"
            height="180"
          />
        </div>
        <p className="mb-2 font-bold text-3xl text-gray-800 text-center">
          Masuk Sekarang
        </p>
        <p className="mb-5 text-md text-gray-600 text-center">
          Sudah punya akun Recruitment? Yuk <br></br> masuk untuk mengakses
          lowongan pekerjan
        </p>
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <input
              placeholder="Email"
              class={
                "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
              }
            />
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start mt-4">
          <div class="flex self-stretch items-start justify-start">
            <input
              placeholder="Password"
              class={
                "flex items-center justify-start py-2 px-4 bg-gray-100 border rounded border-gray-100 w-full"
              }
            />
          </div>
        </div>

        <div class="flex justify-between mb-4 mt-4">
          <div class="flex items-center">
            {" "}
            <input type="checkbox" class="mr-2" />
            <span>Ingatkan saya</span>
          </div>
          <div className="text-blue-500 font-semibold">Lupa Kata Sandi?</div>
        </div>
        <button
          className="bg-blue-500 hover:bg-blue-700 text-white font-bold p-3 rounded w-80"
          onClick={() => {
            window.location.replace("/");
          }}
        >
          <span>Login</span>
        </button>
        <div className="mt-7 text-center">
          <span className="text-gray-400">Belum Punya Akun ? </span>
          <a href="/m/register" class="text-blue-500 font-semibold">
            {""} Daftar
          </a>
        </div>
      </div>
    </div>
  </div>
</>